{% set pageTitle = 'Common Functions' %}
{% set tocTitle = 'Common Functions' %}

{% extends "theme/template/base.html" %}


{% block content %}


= Common Functions

== norm

code::[c++]
includeadv::{lib:cgp, root:'cgp/library/cgp/', research_line:' norm('}
code::[-]

== normalize

code::[c++]
includeadv::{lib:cgp, root:'cgp/library/cgp/', research_line:' normalize('}
code::[-]

== dot

code::[c++]
includeadv::{lib:cgp, root:'cgp/library/cgp/', research_line:' dot('}
code::[-]

== draw

code::[c++]
includeadv::{lib:cgp, root:'cgp/library/cgp/', research_line:' draw('}
code::[-]

== cross

code::[c++]
includeadv::{lib:cgp, root:'cgp/library/cgp/', research_line:' cross('}
code::[-]

== inverse

code::[c++]
includeadv::{lib:cgp, root:'cgp/library/cgp/', research_line:' inverse('}
code::[-]

== rotation_axis_angle

code::[c++]
includeadv::{lib:cgp, root:'cgp/library/cgp/', research_line:'rotation_axis_angle('}
code::[-]


{% endblock %}
