{% set pageTitle = 'Camera Model' %}
{% set tocTitle = 'Camera Model' %}

{% extends "theme/template/base.html" %}


{% block content %}


= Camera Model

== Code Reference

{{ref_github('camera_orbit.hpp')}}
{{ref_github('camera_orbit_euler.hpp')}}

::nl

{{ref_github('camera_first_person.hpp')}}
{{ref_github('camera_first_person_euler.hpp')}}




{% endblock %}
