{% set pageTitle = 'Common Classes' %}
{% set tocTitle = 'Common Classes' %}

{% extends "theme/template/base.html" %}


{% block content %}


{% macro Reference(url) %}
::[font-weight:bold;]
link::{{url}}[Go to Reference]
::
{% endmacro %}


= Common Classes

== affine

* {{Reference(pathTo_affine)}}

{{ref_github('affine_rt.hpp')}}
{{ref_github('affine_rts.hpp')}}
{{ref_github('affine.hpp')}}

== grid

* {{Reference(pathTo_grid)}}

{{ref_github('grid_2D.hpp')}}
{{ref_github('grid_3D.hpp')}}

== image

{{ref_github('image.hpp')}}

== mat

* {{Reference(pathTo_mat)}}
{{ref_github('mat2.hpp')}}
{{ref_github('mat3.hpp')}}
{{ref_github('mat4.hpp')}}

== mesh

* {{Reference(pathTo_mesh)}}
{{ref_github('mesh.hpp')}}

== mesh_drawable

* {{Reference(pathTo_mesh_drawable)}}
{{ref_github('mesh_drawable.hpp')}}

== numarray, numarray_stack

* {{Reference(pathTo_numarray)}}

{{ref_github('numarray.hpp')}}
{{ref_github('numarray_stack.hpp')}}


== rotation_transform

* {{Reference(pathTo_rotation)}}
{{ref_github('rotation_transform.hpp')}}
{{ref_github('quaternion.hpp')}}

== timer

{{ref_github('timer_basic.hpp')}}
{{ref_github('timer_event_periodic.hpp')}}
{{ref_github('timer_interval.hpp')}}
{{ref_github('timer_fps.hpp')}}

== vec


* {{Reference(pathTo_vec)}}
{{ref_github('vec2.hpp')}}
{{ref_github('vec3.hpp')}}
{{ref_github('vec4.hpp')}}


== OpenGL related structures


=== opengl_vbo_structure

{{ref_github('vbo.hpp')}}
{{ref_github('opengl_buffer.hpp')}}

=== opengl_shader_structure

{{ref_github('shaders.hpp')}}

=== opengl_texture_image_structure

{{ref_github('texture.hpp')}}










{% endblock %}
