{% set pageTitle = 'Mesh Primitive' %}
{% set tocTitle = 'Mesh Primitive' %}

{% extends "theme/template/base.html" %}


{% block content %}


= Mesh Primitives

== Listing

**Reference file**
{{ref_github('primitive.hpp')}}

::nl

code::[c++]
include::code/cgp/library/cgp/11_mesh/primitive/primitive.hpp[]
code::[-]


{% endblock %}
